@mixin btnNormal {
  color: var(--white);
  background-color: var(--primaryColor);
}

@mixin btnOutline {
  background-color: var(--white);
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.btn {
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  &.primary {
    @include btnNormal;
    &:hover {
      @include btnOutline;
    }
  }
  &.outline {
      @include btnOutline;
      &:hover {
        @include btnNormal;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
  &.publicButton{
    margin-top: 40px;
    padding: 12px;
    width: 80%;
    font-size: 16px;
  }
}
