@font-face {
    font-family: 'regular';
    src: url('BiennaleRegular.otf') format('opentype');
}

@font-face {
    font-family: 'light';
    src: url('BiennaleLight.otf') format('opentype');
}

@font-face {
    font-family: 'bold';
    src: url('BiennaleBold.otf') format('opentype');
}