@import "../../../styles.scss";

.mainHeader {
  border-bottom: 0.5px solid var(--gray1);
    background-color: var(--white);
  .mainHeaderContent {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    .searchBarContainer {
      position: relative;
      display: flex;
      flex: 1;
      margin-left: 16px;
      align-items: center;
      .searchIcon {
        position: absolute;
        left: 8px;
      }
      input {
        border: 0;
        flex: 1;
        background-color: var(--primaryColor3);
        border-radius: 4px;
        padding: 8px 8px 8px 36px;
        font-size: 12px;
        outline: none;
        &:focus {
          border: 1px solid var(--primaryColor);
        }
      }
    }
  }

  .searchResultContainer {
    position: absolute;
    border-top: 0.5px solid var(--gray1);
    background-color: var(--white);
    width: 100%;

    .result {
      display: flex;
      padding: 8px 12px;
      &:hover{
        background-color: var(--gray1);
      }
      .userInformation {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        > * {
          display: block;
          margin: 0;
          color: var(--gray4);
          font-size: 12px;
        }
      }
    }
  }

  @media screen and (min-width: $breakpointDesktop) {
    border: none;
    margin-bottom: 35px;
    justify-content: center;
    .mainHeaderContent {
      width: 60%;
      margin: auto;
      display: flex;
      .searchBarContainer {
        flex: 0.4;
        margin:auto;
      }
    }
    .searchResultContainer {
      width: 20%;
      border-top: none;
      margin: auto;
      right: 0;
      left: 120px;
      box-shadow: 0px 4px 5px var(--gray1);
      cursor: pointer;
      .result {
        .userInformation {
          > * {
            font-size: 14px;
          }
        }
      }
    }
  }
}
