<h1>app-component</h1>
<app-avatar></app-avatar>
<br />
<hr />

<app-public-input
  type="text"
  image="assets/images/envelope.svg"
  placeholder="E-mail"
  [referencesForm]="getReferences('name')"
></app-public-input>

<app-public-input
  type="password"
  image="assets/images/chave.svg"
  placeholder="Senha"
  [referencesForm]="getReferences('password')"
></app-public-input>

<hr />

<app-upload-image
placeholderImage="assets/images/avatar.svg"
[referencesformControl]="getReferences('image')"
>
</app-upload-image>

<hr />
<app-button
  text="Login"
  type="button"
  class="primary"
  [disabled]="true"
></app-button>

<app-button
  text="Outline"
  type="button"
  class="primary"
  color="outline"
  (click)="submit()"
></app-button>
<app-button text="Cadastro" type="button" class="primary"></app-button>
